In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv(r"C:\Users\VIPIN\Desktop\DSA_ICTAK\ASSIGNMENT\ASSIGNMENT.4\Sales_add.csv")

In [3]:
data

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402
5,Month-6,Region - A,Manager - B,137163,256948
6,Month-7,Region - C,Manager - C,130625,222106
7,Month-8,Region - A,Manager - A,131140,230637
8,Month-9,Region - B,Manager - C,171259,226261
9,Month-10,Region - C,Manager - B,141956,193735
10,Month-11,Region - B,Manager - C,159339,203175
11,Month-12,Region - A,Manager - A,178939,276279
12,Month-13,Region - B,Manager - A,145062,205180
13,Month-14,Region - A,Manager - A,151514,253131
14,Month-15,Region - C,Manager - A,147463,229336
15,Month-16,Region - A,Manager - B,177195,187305
16,Month-17,Region - A,Manager - C,140862,234908
17,Month-18,Region - C,Manager - B,167996,191517
18,Month-19,Region - B,Manager - A,132135,227040
19,Month-20,Region - A,Manager - B,152493,212579
20,Month-21,Region - B,Manager - A,147425,263388
21,Month-22,Region - A,Manager - C,130263,243020

### 1. compare the sales before and after implementing digital marketing.

In [4]:
sales_before = data['Sales_before_digital_add(in $)']
sales_after = data['Sales_After_digital_add(in $)']

In [5]:
before_digital_marketing = (sales_before).sum()
before_digital_marketing

3283279

In [6]:
after_digital_marketing = (sales_after).sum()
after_digital_marketing

5084722

In [7]:
if before_digital_marketing < after_digital_marketing:
    print("There is increase in sales after stepping into digital marketing.")

There is increase in sales after stepping into digital marketing.

### Hypothesis:

#### Null hypothesis (H0): There is no increase in sales after stepping into digital marketing.

#### Alternative hypothesis (H1): There is a significant increase in sales after stepping into digital marketing.

In [9]:
from scipy.stats import ttest_rel

t_statistic, p_value = ttest_rel(sales_before, sales_after)

In [10]:
t_statistic

-12.09070525287017

In [11]:
p_value

6.336667004575778e-11

In [12]:
if p_value<0.05:
    print('Null Hypothesis Rejected')
    print('There is a significant increase in sales after implementing digital marketing.')
else:
    print('Null Hypothesis Accepted')
    print('There is no significant increase in sales after implementing digital marketing.')

Null Hypothesis Rejected
There is a significant increase in sales after implementing digital marketing.

P value is less than significance level so reject the null hypothesis.

### 2. Dependency between the features "Region" and "Manager."

In [13]:
region = data['Region']
manager = data['Manager']

#### Hypothesis:

##### Null hypothesis (H0): There is no dependency between the "Region" and "Manager" features.

##### Alternative hypothesis (H1): There is a dependency between the "Region" and "Manager" features.

In [14]:
from scipy.stats import chi2_contingency

observed = pd.crosstab(region, manager)
chi2, p_value1, dof, expected = chi2_contingency(observed)

In [16]:
p_value1

0.5493991051158094

In [17]:
if p_value1<0.05:
    print('Null Hypothesis Rejected')
    print("There is a dependency between the 'Region' and 'Manager' features.")
else:
    print('Null Hypothesis Accepted')
    print("There is no dependency between the 'Region' and 'Manager' features.")

Null Hypothesis Accepted
There is no dependency between the 'Region' and 'Manager' features.